extends ../layouts/main-layout.pug 
block content     
    .row    
        .col-md-4 
            img(src=`/img/${product.imageUrl}` alt=`${product.name}`).img-fluid


        .col-md-8.pl-4
            h1 #{product.name}
            p #{product.description}
            hr
            p Price: #{product.price} TL
            button(type='submit').btn.btn-primary.btn-lg Add to Cart
